@import "/src/variables.scss";
.tags {
  display: flex;
  gap: 10px;
  li {
    padding: 0 15px;
    display: flex;
    align-items: center;
    background: $primary-color;
    color: white;
    list-style: none;
    border-radius: 10px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    @media (max-width: $mobile-breakpoint) {
      font-size: 10px;
    }
  }
}
