@import "./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1440px;
  margin: auto;
  padding: 30px;
  @media (max-width: $mobile-breakpoint) {
    padding: 0px;
  }
}
$header-main-padding: 20px;
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px $header-main-padding;
  @media (max-width: $mobile-breakpoint) {
    padding: 20px;
  }
  svg {
    height: 68px;
    path {
      fill: $primary-color;
    }
    @media (max-width: $mobile-breakpoint) {
      height: 46px;
    }
  }
  nav {
    font-size: 24px;
    ul {
      display: flex;
      gap: 57px;
      @media (max-width: $mobile-breakpoint) {
        gap: 26px;
      }
      li {
        list-style: none;
        a {
          color: black;
          text-decoration: none;
          font-weight: 500;
          @media (max-width: $mobile-breakpoint) {
            font-size: 12px;
            text-transform: uppercase;
          }
          &.active {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
main {
  padding: 0 $header-main-padding $header-main-padding $header-main-padding;
  @media (max-width: $mobile-breakpoint) {
    padding: 0;
  }
}
footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 45px 0 16px 0;
  gap: 16px;
  font-weight: 500;
  font-size: 24px;
  @media (max-width: $mobile-breakpoint) {
    font-size: 12px;
  }

  svg {
    height: 39px;
    path {
      fill: white;
    }
  }
}
